<!doctype html>
<html class="no-js" lang="cs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>FM 2013</title>

		<meta name="author" content="Richard Kapička">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{ partial "assets.html" . }}

		<script src="/js/fm/2013.js?{{ readFile "/static/js/fm/2013.js" | md5}}" type="module"></script>

		<script type="module">
			$(function() {
				window.Fmko.Fm2013.init();
			});
		</script>
	</head>
	<body>
		{{ partial "menu.html" . }}

		<h1>FM 2013</h1>

		<table>
			<tr>
				<td style="padding-right: 30px;">
					<table class="attribute" style="border-collapse: collapse;" border="1">
						<tr class="discipline">
							<td>Disciplína:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="determination">
							<td>Odhodlání:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="motivation">
							<td>Motivace:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="fitness">
							<td>Fyzička:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="goalkeepers">
							<td>Brankáři:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="tactical">
							<td>Taktika:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="technical">
							<td>Technika:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="mental">
							<td>Psychika:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="defending">
							<td>Obrana:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="attacking">
							<td>Útok:</td>
							<td><input type="number"></td>
						</tr>
					</table>
				</td>

				<td>
					<table class="result training" style="border-collapse: collapse;" border="1">
						<tr>
							<th style="width: 180px;">Trénink</th>
							<th>Počet hvězd</th>
							<th>Barva</th>
						</tr>

						<tr class="strength">
							<td><a href="#strength">Trenér síly</a></td>
							<td class="star"></td>
							<td class="color" data-color="ff2121"></td>
						</tr>

						<tr class="aerobic">
							<td><a href="#aerobic">Trenér aerobiku</a></td>
							<td class="star"></td>
							<td class="color" data-color="42f2df"></td>
						</tr>

						<tr class="tactics">
							<td><a href="#tactics">Trenér taktiky</a></td>
							<td class="star"></td>
							<td class="color" data-color="6de010"></td>
						</tr>

						<tr class="ball-control">
							<td><a href="#ball-control">Trenér kontroly míče</a></td>
							<td class="star"></td>
							<td class="color" data-color="715cf2"></td>
						</tr>

						<tr class="defending">
							<td><a href="#defending">Trenér obrany</a></td>
							<td class="star"></td>
							<td class="color" data-color="fa9324"></td>
						</tr>

						<tr class="attacking">
							<td><a href="#attacking">Trenér útoku</a></td>
							<td class="star"></td>
							<td class="color" data-color="fd28cd"></td>
						</tr>

						<tr class="shooting">
							<td><a href="#shooting">Trenér střelby</a></td>
							<td class="star"></td>
							<td class="color" data-color="8a9f69"></td>
						</tr>

						<tr class="shot-stopping">
							<td><a href="#shot-stopping">Trenér GK - zastavování</a></td>
							<td class="star"></td>
							<td class="color" data-color="b89fa3"></td>
						</tr>

						<tr class="handling">
							<td><a href="#handling">Trenér GK - zpracování</a></td>
							<td class="star"></td>
							<td class="color" data-color="b94cca"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
