<!doctype html>
<html class="no-js" lang="cs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>FM 2018</title>

		<meta name="author" content="Richard Kapička">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{ partial "assets.html" . }}

		<script src="/js/fm/2018.js?{{ readFile "/static/js/fm/2018.js" | md5}}" type="module"></script>

		<script type="module">
			$(function() {
				window.Fmko.Fm2018.init();
			});
		</script>
	</head>
	<body>
		{{ partial "menu.html" . }}

		<h1>FM 2018</h1>

		<table>
			<tr>
				<td style="padding-right: 30px;">
					<table class="attribute" style="border-collapse: collapse;" border="1">
						<tr class="discipline">
							<td>Disciplína:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="determination">
							<td>Odhodlání:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="motivation">
							<td>Motivace:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="fitness border-top">
							<td>Fyzička:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="tactical">
							<td>Taktika:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="technical">
							<td>Technika:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="mental">
							<td>Psychika:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="defending">
							<td>Obrana:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="attacking">
							<td>Útok:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="gk-distribution border-top">
							<td>GK - Chytání:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="gk-handling">
							<td>GK - Rozehrávka:</td>
							<td><input type="number"></td>
						</tr>

						<tr class="gk-shot-stopping">
							<td>GK - Zastavování střel:</td>
							<td><input type="number"></td>
						</tr>
					</table>
				</td>

				<td style="vertical-align: top !important;">
					<table class="result training" style="border-collapse: collapse;" border="1">
						<tr>
							<th style="width: 180px;">Trénink</th>
							<th>Počet hvězd</th>
							<th>Barva</th>
						</tr>

						<tr class="strength">
							<td><a href="#strength">Kondice - Síla</a></td>
							<td class="star"></td>
							<td class="color" data-color="ff2121"></td>
						</tr>

						<tr class="aerobic">
							<td><a href="#aerobic">Kondice - Aerobik</a></td>
							<td class="star"></td>
							<td class="color" data-color="42f2df"></td>
						</tr>

						<tr class="tactics border-top">
							<td><a href="#tactics">Obecné - Taktika</a></td>
							<td class="star"></td>
							<td class="color" data-color="6de010"></td>
						</tr>

						<tr class="ball-control">
							<td><a href="#ball-control">Obecné - Kontrola míče</a></td>
							<td class="star"></td>
							<td class="color" data-color="7a94ff"></td>
						</tr>

						<tr class="defending">
							<td><a href="#defending">Obecné - Bránění</a></td>
							<td class="star"></td>
							<td class="color" data-color="fa9324"></td>
						</tr>

						<tr class="attacking">
							<td><a href="#attacking">Obecné - Útok</a></td>
							<td class="star"></td>
							<td class="color" data-color="fd28cd"></td>
						</tr>

						<tr class="shooting">
							<td><a href="#shooting">Obecné - Střelba</a></td>
							<td class="star"></td>
							<td class="color" data-color="8a9f69"></td>
						</tr>

						<tr class="gk-distribution border-top">
							<td><a href="#gk-distribution">GK - Chytání</a></td>
							<td class="star"></td>
							<td class="color" data-color="b94cca"></td>
						</tr>

						<tr class="gk-handling">
							<td><a href="#gk-handling">GK - Rozehrávka</a></td>
							<td class="star"></td>
							<td class="color" data-color="e2b734"></td>
						</tr>

						<tr class="gk-shot-stopping">
							<td><a href="#gk-shot-stopping">GK - Zastavování střel</a></td>
							<td class="star"></td>
							<td class="color" data-color="b89fa3"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
